In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [59]:
#Assignment

In [61]:
#Q1.
import pandas as pd
x=pd.Series([4,8,15,16,23,42])
print(x)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [52]:
type(x)

pandas.core.series.Series

In [67]:
#Q2.
x = [1,2,3,4,5,6,7,8,9,10]
pd.Series(x)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
#Q3.
Emp_data = {'Name':['Alice','Bob','Claire'],
            'Age':[25,30,27],
            'Gender':['Female','Male','Female']}

df=pd.DataFrame(Emp_data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Q4.
"'DataFrame:- Data frame can have multiple columns.Data Frame can store more complex data.And pandas series can only have one colums. pands series can store more simple data.'"

In [92]:
#Example:PandasSeries
x=[1,2,3,4]
pd.Series(x)
print(x)

[1, 2, 3, 4]

In [94]:
#Example:DataFrame
df1={'ID':[101,102],
    'Name':['Ram','Sonu'],
    'City':['Rampur','Sitapur']}
df2=pd.DataFrame(df1)
print(df2)

    ID  Name     City
0  101   Ram   Rampur
1  102  Sonu  Sitapur

In [99]:
#Q5.
#Common function in pandas DataFrame:head(),tail(),read_csv(),read_html().
df2.head(1)

    ID Name    City
0  101  Ram  Rampur

In [111]:
#Q7.
courses = pd.Series(["Excel","Python","Bigdata"], name='courses')
fees = pd.Series([2000,5000,3000], name='fees')
discount  = pd.Series([100,300,100],name='discount')

df=pd.concat([courses,fees,discount],axis=1)
print(df)

   courses  fees  discount
0    Excel  2000       100
1   Python  5000       300
2  Bigdata  3000       100