Q1. Explain with an example each when to use a for loop and a while loop.

Use a for loop when the number of iterations is known or when you want to iterate over a sequence (such as a list, tuple, string, or any other iterable object)

In [2]:
fruits = ["Apple", "Lemon", "Orange", "Strawberry"]
for fruit in fruits:
    print(fruit)

Apple
Lemon
Orange
Strawberry

The while loop continues as long as the specified condition remains true.

In [3]:
num = 10
while num <= 50:
    print(num)
    num += 2

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [5]:
n = 10
answer = 0
for i in range(1, n + 1):
    answer = answer +i
print("Sum of first", n, "natural numbers:", answer)

Sum of first 10 natural numbers: 55

In [7]:
def sum_of_natural_numbers(N):
    total = 0
    count = 1
    while count <= N:
        total += count
        count += 1
    return total

N = 10
result = sum_of_natural_numbers(N)
print("Sum of the first", N, "natural numbers:", result)

Sum of the first 10 natural numbers: 55

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [17]:
result_list = []
for num in range(1, 101):
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        result_list.append(num)
print(result_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [19]:
input_string = "I want to become a data scientist"
count = 0
String = input_string.lower()

for vowel in String:
    if vowel == 'a' or vowel == 'e' or vowel == 'i' or vowel == 'o' or vowel == 'u':
        count += 1

if count == 0:
    print('No vowels found')
else:
    print('Total number of vowels in the proverb:', count)

Total number of vowels in the proverb: 12